# files
*.csv
*.xlsx
*.xls
*.yaml
*.yml
/data/output/*.json
todo.txt

# temp files
*.swp
*.log
*.tmp
.DS_Store
.bundle/
vendor/bundle/

# ignore specific files
/config/secrets.yml
/db/*.sqlite3
/db/*.sqlite3-journal
/log/*
/tmp
!/log/.keep
!/tmp/.keep
/node_modules/
/public/system
/public/uploads
.byebug_history
coverage/
rerun.txt
report.xml
simplecov/
.idea/
.vscode/
